<h1>Bookings#show</h1>
<p>Find me in app/views/bookings/new.html.erb</p>


<h2>Flight Details:</h2>
<p><strong>Flight Number:</strong> <%= @booking.flight.id %></p>
<p><strong>Origin:</strong> <%= @booking.flight.departure_airport.code %></p>
<p><strong>Destination:</strong> <%= @booking.flight.arrival_airport.code %></p>
<p><strong>Departure date:</strong> <%= @booking.flight.start.strftime("%Y/%m/%d") %></p>
<p><strong>Departure time:</strong> <%= @booking.flight.start.strftime("%H:%M ") %></p>
<p><strong>Flight duration:</strong> <%= distance_of_time_in_words(@booking.flight.duration.minutes) %></p>

<h2>Passenger Details:</h2>
<% @booking.passengers.each do |passenger| %>
    <p><strong>Name:<%= passenger.name %></p>
    <p><strong>Email:<%= passenger.email %></p>
<% end %>
